name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6

      - uses: ./
        id: setup_ccache
        with:
          adapter-port: "4567"
          namespace: "ccache-${{ runner.os }}-${{ runner.arch }}"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure ccache
        run: |
          echo "CMAKE_C_COMPILER_LAUNCHER=ccache" >> $GITHUB_ENV
          echo "CMAKE_CXX_COMPILER_LAUNCHER=ccache" >> $GITHUB_ENV

          export CCACHE_DIR=$GITHUB_WORKSPACE/.ccache
          mkdir -p $CCACHE_DIR

          echo "CCACHE_DIR=$CCACHE_DIR" >> $GITHUB_ENV
          echo "base_dir = $GITHUB_WORKSPACE" >$CCACHE_DIR/ccache.conf
          echo "compression = true" >>$CCACHE_DIR/ccache.conf
          echo "compression_level = 5" >>$CCACHE_DIR/ccache.conf
          echo "sloppiness=pch_defines,time_macros" >>$CCACHE_DIR/ccache.conf
          cat $CCACHE_DIR/ccache.conf

          ccache -sv
          ccache -z

      - name: Build
        run: |
          cd test/data
          mkdir build
          cd build
          cmake .. -GNinja -DVALUE=$GITHUB_RUN_ID
          cmake --build .

      - name: Show ccache stats and zero them
        run: |
          ccache -sv
          ccache -z

      - name: Build again to test cache hit
        run: |
          cd test/data
          rm -rf build
          mkdir build
          cd build
          cmake .. -GNinja -DVALUE=$GITHUB_RUN_ID
          cmake --build .

      - name: Show ccache stats after second build
        run: |
          ccache -sv
